@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <p className="text-light">App developed by <a href="https://www.linkedin.com/in/devlucasramos/" target="_blank" rel="noreferrer">Lucas Ramos</a></p>
    <p className="text-light">;) Come see my <a href="https://github.com/devLucasRamos" target="_blank" rel="noreferrer">Github</a></p>
    <p className="text-light">Documentation used in this app: <a href="https://openweathermap.org/api" target="_blank" rel="noreferrer">API WEATHER</a></p>
</div>
